[submodule "Vendor/TJDropbox"]
	path = Vendor/TJDropbox
	url = git@github.com:timonus/TJDropbox.git
[submodule "Vendor/SAMKeychain"]
	path = Vendor/SAMKeychain
	url = https://github.com/timonus/samkeychain
[submodule "Vendor/TJURLShortener"]
	path = Vendor/TJURLShortener
	url = git@github.com:timonus/TJURLShortener.git
[submodule "Vendor/Brotli"]
	path = Vendor/Brotli
	url = git@github.com:timonus/Brotli.git
[submodule "Vendor/appscripts"]
	path = Vendor/appscripts
	url = git@github.com:timonus/appscripts.git
